--find-links https://data.pyg.org/whl/torch-2.8.0+cu128.html
--find-links https://download.pytorch.org/whl/cu128

numpy
laspy[lasrz,laszip]
torch==2.8.0
torchvision
torch-geometric
torch-scatter
torch-cluster
scikit-learn
pickleshare
ninja
gdown
easydict
pyyaml
protobug
tensorboard
termcolor
tqdm
multimethod
h5py
matplotlib
wandb
pyvista
setuptools
pandas
deepspeed
shortuuid

